.toggleLabel {
  padding-left: 1em;
  padding-top: 0.8em;
}
.toggleLabel label {
  color: white;
}

.dividerLabel {
  margin-left: 16px;
  display: flex;
  margin-top: 12px;
}

.divider {
  margin-bottom: 0px;
}

.headerButtons svg {
  // display: block;
  // margin-left: 400px;
  height: 18px;
  width: 18px;
}

.bx--header {
  height: 5.5em;
  padding-top: 28px;
}

.bx--header-panel {
  top: 5.44em;
}

.bx--header__name {
  padding-left: 2.4em;
}
