.toggleLabel {
  padding-left: 1em;
  padding-top: 0.8em;
}
.toggleLabel label {
  color: white;
}

.dividerLabel {
  margin-left: 16px;
  display: flex;
  margin-top: 12px;
}

.divider {
  margin-bottom: 0px;
}
