// .titlebar {
//   width: auto;
//   height: 48px;
//   -webkit-user-select: none;
//   -webkit-app-region: drag;
// }
.ui-titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  justify-content: flex-end;
	display: flex;
	height: 32px;
	user-select: none;
	cursor: default;
}
.ui-titlecontrols {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
  z-index: 9999;
}
.ui-btn {
  -webkit-app-region: no-drag;
	margin: 0;
	width: 48px;
	height:32px;
	border: 0;
	outline: 0;
	background: transparent;
}
.ui-btn:hover {
	background: rgba(255,255,255,.1);
}
.ui-btn.close:hover {
	background: #e81123;
}
.ui-btn svg path,
.ui-btn svg rect,
.ui-btn svg polygon {
  fill: white
}
.ui-btn svg {
  width: 10px;
  height: 10px;
}
