#buttons {
  margin-top: 1em;
  display: flex;
  width: 300px;
}

.bx--text-input	 {
  height: 2em;
  width: 14em;
}

.bx--btn {
  width: 7em;
}

.bx--content {
  // margin-top: 45px;
  padding-bottom: 140px;
  height: 100vh;
  overflow-y: auto;
}

.result {
  margin-top: 0.9em;
  line-height: 1.5em;
}

.result h2 {
  font-size: 1.4em;
}

.result h3 {
  font-size: 1.2em;
}

.bx--overflow-menu-options {
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.bx--radio-button-wrapper {
  padding-top: 0.5em;
}

#overflowTitle {
  padding-top: 0.5em;
}

#inputRow {
  display: flex;
  width: 14em;
}

.bx--overflow-menu {
  margin-top: 1.6em;
  margin-left: 0.2em;
}

.autocomplete {
    background: white;
    z-index: 1000;
    // font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
    line-height: 2em;
}

/* .autocomplete * {
    font: inherit;
} */

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #0062ff;
    color: white;
    cursor: pointer;
}

.verseButton {
  height: 22px;
  width: 22px;
}

.verseButton:active {
  padding: 1px;
}

/* Make delete icon slightly smaller */
.delete {
  width: 20px;
  height: 20px;
}

.verseButtonContainer {
  display: inline-block;
  margin-top: 25px;
  margin-right: 20px;
  /* Make border transparent before hover. Helps with positioning. */
  border: 1px solid rgba(0, 0, 0, 0);
  /* Increase space between container and border */
  padding: 1px;
}

.verseButtonContainer:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  cursor: pointer;
}

.verseButtonContainer:active {
  padding: 0px;
  margin-right: 22px;
}

.resultButtonsLoading {
  margin-top: 25px;
  margin-right: 20px;
}
